<app-header title="Listagem de carros"></app-header>
<section class="content">
  <section class="content__search-area">
    <button
      mat-raised-button
      color="primary"
      class="content__search-area-button"
      (click)="redirectToCreation()"
    >
      Cadastrar carro
    </button>

    <section class="content__search-area--input-wrapper">
      <input
        matInput
        type="text"
        class="content__search-area--input"
        placeholder="Selecione um modelo"
        [(ngModel)]="searchTerm"
      />
      <mat-icon
        matSuffix
        class="content__search-area--input-icon"
        (click)="searchByTerm()"
        >search</mat-icon
      >
    </section>
  </section>

  <app-base-list
    [tableData]="tableData"
    [columns]="tableColumns"
    [paginationConfig]="paginationProperties"
    [deleteConfirmMessage]="deleteConfirmMessageFn"
    (fetchItems)="fetchItens($event)"
    (editItem)="onEditItem($event)"
    (deleteItem)="onDeleteItem($event)"
  ></app-base-list>
</section>
