<section class="container">
  <button
    mat-raised-button
    color="primary"
    class="container__button-back"
    (click)="goBack()"
  >
    Voltar
  </button>
  <section class="container__form-wrapper">
    <form [formGroup]="form" class="form-wrapper__form">
      @for (field of formConfig; track $index) {
      <section class="form-group" [class.cdk-visually-hidden]="field.hidden">
        <label for="{{ field.key }}">{{ field.label }}</label>

        @if(field.requestOptions) {
        <select [formControlName]="field.key.toString()">
          <option value="" disabled selected hidden>Selecione uma opção</option>
          @for (option of field.requestOptions.list$| async; track $index) {
          <option [value]="option[field.requestOptions.valueField]">
            {{ option[field.requestOptions.displayField] }}
          </option>
          }
        </select>
        } @else {
        <input
          type="text"
          [attr.placeholder]="field.placeholder"
          [formControlName]="field.key.toString()"
        />
        }
        <div class="form-group__error">
          {{ getFieldError(field.key) }}
        </div>
      </section>
      }
    </form>
    <section class="form-wrapper__actions">
      <button
        mat-raised-button
        class="container__button-back"
        (click)="clearForm()"
      >
        Limpar
      </button>
      <button
        mat-raised-button
        color="primary"
        class="container__button-back"
        [disabled]="!formIsValid"
        (click)="onSubmit()"
      >
        Gravar
      </button>
    </section>
  </section>
</section>
